In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

heart_data = pd.read_csv(r'C:\Users\Rao Sharjeel\Downloads\ML assignment\heart.csv')
heart_data.head(80)
# heart_data.info()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
75,46,M,NAP,150,163,0,Normal,116,N,0.0,Up,0
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
77,35,F,ASY,140,167,0,Normal,150,N,0.0,Up,0
78,52,M,ATA,140,100,0,Normal,138,Y,0.0,Up,0
79,49,M,ASY,130,206,0,Normal,170,N,0.0,Flat,1

In [15]:
heart_data.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [2]:
# kill this code after coping

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import time

start_time = time.time()

heart_data = pd.read_csv(r'C:\Users\Rao Sharjeel\Downloads\ML assignment\heart.csv')
heart_data.head(80)
# heart_data.info()

# kill this code after coping
heart_data.replace({'Sex':{'M':0,'F':1}, 'ChestPainType':{'ATA':0,'NAP':1,'ASY':2, 'TA':3}, 'RestingECG':{'Normal':0,'ST':1, 'LVH':2}, 'ExerciseAngina':{'N':0, 'Y':2}, 'ST_Slope':{'Up':0,'Flat':1, 'Down':2}}, inplace=True)

X = heart_data.drop(columns = ['HeartDisease'],axis=1)
y = heart_data['HeartDisease']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

y_pred = svclassifier.predict(X_test)

from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score as acc 
print("accuracy: ", acc(y_pred, y_test))
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

end_time = time.time() - start_time

print("time = ")
print(end_time)

accuracy:  0.8369565217391305
[[65 21]
 [ 9 89]]
              precision    recall  f1-score   support

           0       0.88      0.76      0.81        86
           1       0.81      0.91      0.86        98

    accuracy                           0.84       184
   macro avg       0.84      0.83      0.83       184
weighted avg       0.84      0.84      0.84       184

time =
4.253941059112549